@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--background: oklch(100% 0 0);
	--foreground: oklch(14.05% 0.0044 285.82);
	--card: oklch(100% 0 0);
	--card-foreground: oklch(14.05% 0.0044 285.82);
	--popover: oklch(100% 0 0);
	--popover-foreground: oklch(14.05% 0.0044 285.82);
	--primary: oklch(62.73% 0.17 149.2);
	--primary-foreground: oklch(100% 0 0);
	--secondary: oklch(96.76% 0.0013 286.3);
	--secondary-foreground: oklch(0.1 0.041 240);
	--muted: oklch(96.76% 0.0013 286.3);
	--muted-foreground: oklch(55.19% 0.0137 285.94);
	--accent: oklch(96.76% 0.0013 286.3);
	--accent-foreground: oklch(0.1 0.041 240);
	--destructive: oklch(63.68% 0.2078 25.33);
	--destructive-foreground: oklch(98.48% 0 0);
	--border: oklch(0.9 0.059 240);
	--input: oklch(0.9 0.059 240);
	--ring: oklch(62.73% 0.17 149.2);
	--radius: 0.5rem;
	--chart-1: oklch(67.72% 0.1571 35.19);
	--chart-2: oklch(63.09% 0.1013 183.49);
	--chart-3: oklch(37.87% 0.044 225.54);
	--chart-4: oklch(83.36% 0.1186 88.15);
	--chart-5: oklch(78.34% 0.1261 58.75);
	--sidebar: oklch(98.48% 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(98.48% 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

.dark {
	--background: oklch(14.67% 0.0041 49.31);
	--foreground: oklch(96.19% 0 0);
	--card: oklch(21.61% 0.0061 56.04);
	--card-foreground: oklch(96.19% 0 0);
	--popover: oklch(20.44% 0 0);
	--popover-foreground: oklch(96.19% 0 0);
	--primary: oklch(72.29% 0.1921 149.58);
	--primary-foreground: oklch(26.64% 0.0628 152.95);
	--secondary: oklch(27.41% 0.0055 286.03);
	--secondary-foreground: oklch(98.48% 0 0);
	--muted: oklch(26.97% 0 0);
	--muted-foreground: oklch(71.19% 0.0129 286.07);
	--accent: oklch(26.85% 0.0063 34.3);
	--accent-foreground: oklch(98.48% 0 0);
	--destructive: oklch(39.59% 0.1331 25.72);
	--destructive-foreground: oklch(97.1% 0.0127 17.38);
	--border: oklch(27.41% 0.0055 286.03);
	--input: oklch(27.41% 0.0055 286.03);
	--ring: oklch(52.71% 0.1371 150.05);
	--chart-1: oklch(52.92% 0.1931 262.13);
	--chart-2: oklch(69.83% 0.1337 165.46);
	--chart-3: oklch(72.32% 0.15 60.63);
	--chart-4: oklch(61.92% 0.2037 312.73);
	--chart-5: oklch(61.23% 0.2093 6.39);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(98.48% 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(98.48% 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(98.48% 0 0);
	--sidebar-border: oklch(0.269 0 0);
	--sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
	--color-background: hsl(var(--background));
	--color-foreground: hsl(var(--foreground));
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}
